beautifulsoup4==4.9.1
click==7.1.2
dill==0.3.2
Flask==1.1.2
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
itsdangerous==1.1.0
Jinja2==2.11.3
klepto==0.1.9
lxml==4.6.5
MarkupSafe==1.1.1
pox==0.2.8
pykakasi==2.0.1
requests==2.27.1
soupsieve==2.0.1
SQLAlchemy==1.3.18
Werkzeug==1.0.1
WTForms==2.3.1
WTForms-SQLAlchemy==0.2
