{% macro series_entry(novel) %}
	{% set resume_ch = [novel.current_ch, 1] | max %}
	<div class="library_series_entry" id="series_{{novel.abbr}}"
		data-id="{{novel.id}}"
		data-title="{{novel.title}}"
		data-abbr="{{novel.abbr}}"
		data-current="{{novel.current_ch}}"
		data-latest="{{novel.latest_ch}}"
		data-code="{{novel.code}}"
		data-host="{{novel.host}}"
		data-lang="{{novel.lang}}"
		>
		<div class="entry_minibanner">
			<div class="minibanner entry_abbr"> {{novel.abbr}} </div>
			<div class="minibanner entry_updated light-green"> Updated (+<span id="num_updates"></span>)</div>
		</div>
		<div class="entry_title"> {{novel.title}} </div>
		<div class="entry_details">
			<table class="entry_info_table mono">
				<tr>
					<td class="entry_info_table_label_column">Host Info</td>
					<td class="entry_info_table_data_column" id="host">{{novel.host}} [{{novel.lang[-2:]}}]</td>
				</tr>
				<tr>
					<td class="entry_info_table_label_column">Book Code</td>
					<td class="entry_info_table_data_column" id="host">{{novel.code}}</td>
				</tr>
				<tr>
					<td class="entry_info_table_label_column">Progress</td>
					<td class="entry_info_table_data_column" id="progress"><span id="current_ch">{{novel.current_ch}}</span> / <span id="latest_ch">{{novel.latest_ch}}</span></td>
				</tr>
			</table>
		</div>
		<div class="entry_action_bar">
			<div class="entry_edit">
				<button type="button" class="entry_action_button modal_trigger" data-toggle="modal" data-target="#edit_modal_push" title="Edit Series" id="edit_{{novel.abbr}}">
					<ion-icon name="create"></ion-icon>
				</button>
			</div>
			<div class="entry_trash">
				<button type="button" class="entry_action_button modal_trigger" data-toggle="modal" data-target="#remove_modal_push" title="Remove Series" id="rmv_{{novel.abbr}}">
					<ion-icon name="trash"></ion-icon>
				</button>
			</div>
		</div>
		<div class="entry_download_bar">
			<a class="series_entry_btn table_of_contents" href="{{url_for('library_series_toc',series_code=novel.code)}}"
				title="Go to Table of Contents" style="margin-left: 0;">
				<span> Table of Contents </span>
				<ion-icon style="font-size: 1.5rem; margin: 0 auto;" name="library-outline"></ion-icon>
			</a>
			<a class="series_entry_btn series_dict" title="Go to series dictionary"
				href="{{url_for('dictionaries_edit', dict_fname=novel.dict_fname)}}">
				<span> Dictionary </span>
				<ion-icon style="font-size: 1.5rem; margin: 0 auto;" name="reader"></ion-icon>
			</a>
			<a class="series_entry_btn download_next" href="{{url_for('library_series_chapter', series_code=novel.code, ch=resume_ch)}}"
				title="Read chapter {{resume_ch}}">
				<span> Resume </span>
				<ion-icon style="font-size: 1.5rem; margin: 0 auto;" name="arrow-redo"></ion-icon>
			</a>
		</div>
	</div>
{% endmacro %}