/*---------------------------[ General Stylings ]-----------------------*/
html{
  scroll-behavior: smooth;
}
body{
  margin:0;
  padding:0;
  font-family:sans-serif;
}
.anch a{
  text-decoration: none !important;
  color: inherit;
}
.anch a:link, a:visited{
  text-decoration: none !important;
  color: inherit;
}
.anch a:hover, a:focus, a:active{
  text-decoration: none !important;
  color: inherit;
}
section{
  position: relative;
  width: fit-content;
  height: auto;
  margin: 5em auto 10em auto;
  background: #fff;
  color: #555;
  box-sizing: border-box;

  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  text-align: justify;
}
/* Make some ugly webkit components disappear */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.no_decoration{
  text-decoration: none !important;
  color: inherit;
}

.banner{
  display: flex;
  font-size: 1.2em;
  box-sizing: border-box;

  /* Make it unselectable */
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.banner_title{
  margin: 0.2em 0.1em;
  padding: 0.4em 0.2em;
  font-variant: petite-caps;
  font-size: 2em;
}
.banner_ico{
  width: fit-content;
  height: fit-content;
  padding: 0.5em 0.5em;
  margin: 0.2em 0 0.2em 0.2em;
  color: #fff;
  background: #ff8d8d;
  border-radius: 0.1em;
  font-size: 2em;
}
.back_button{
  position: absolute;
  right: 0;
  top: 0;
  width: fit-content;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 0 0.1rem #828282;
  border-radius: 0.4rem;
  font-variant: all-petite-caps;
  font-weight: bold;
  cursor: pointer;

  /* Make it unselectable */
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.back_button:hover{
  background: #828282;
  color: #fff;
}
.menu_button{
  width: 100%;
  height: 100%;
  padding: 0.75em 0;
  box-sizing: border-box;
  box-shadow: 0 0 0 0.5rem #000;
  border-radius: 0.5rem;
  text-align: center;
  text-decoration: none !important;
  border: none !important;
  outline: none !important;
  cursor: pointer;

  /* Make it unselectable */
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.menu_button_big{
  font-size: 8rem;
}
.menu_button_wide{
  font-size: 4rem;
}
.menu_button_small{
  font-size: 4rem;
}
.btn-cust{
  font-variant: all-small-caps;
}
.modal-cust{
  border-radius: 1rem;
  overflow: hidden;
}
.modal_header_cust{
  margin-bottom: 0;
  font-variant: all-small-caps;
  font-size: 2rem;

  /* Make it unselectable */
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.modal_body_cust{
  padding: 3rem 2rem;
}
.form_group_cust{
  display: flex;
}
.label_cust{
  font-variant: all-small-caps;
  white-space: nowrap;
}
.input_cust{
  margin: 0 1rem;
}
.input_cust::placeholder{
  opacity: 0.5;
}
.form_input_div{
  width: -webkit-fill-available;
  padding: 0 1rem;
}
.invalid_feedback_cust{
  font-size: 90%;
}
.invalid_feedback_cust pre{
  display: contents;
  font-size: 87.5%;
  color: inherit;
}

/*--------------------------[ Main Page Stylings ]----------------------*/
section.section_index{
  padding: 1em;
}

/* Stylings for the site logo */
.customtrans_logo_div{
  height: 20vh;
  margin-bottom: 5vh;

  /* Make it unselectable */
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.customtrans_logo{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Main Page menu button stylings */
.menu_div{
  display: flex;
  height: fit-content;
  width: 70rem;
  padding: 0.4vw;
  margin: 2.5vh auto;

  /* Make it unselectable */
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.button_icon{
  font-size: 1em;
  color: inherit;
  box-sizing: border-box;
}
.button_title{
  width: 100%;
  font-size: 0.3em;
  font-variant: all-petite-caps;
  font-weight: bold;
  color: inherit;
  box-sizing: border-box;
}
#menu_library{
  box-shadow: 0 0 0 0.2rem #ff8d8d;
  color: #ff8d8d;
}
#menu_library:hover {
  background-color: #ff8d8d;
  color: #fff;
}
#menu_dictionaries{
  box-shadow: 0 0 0 0.2rem #f6b379;
  color: #f6b379;
}
#menu_dictionaries:hover {
  background-color: #f6b379;
  color: #fff;
}
#menu_tutorial{
  box-shadow: 0 0 0 0.2rem #c2ffa3;
  color: #c2ffa3;
}
#menu_tutorial:hover {
  background-color: #c2ffa3;
  color: #fff;
}
#menu_settings{
  box-shadow: 0 0 0 0.2rem #b4eaff;
  color: #b4eaff;
}
#menu_settings:hover {
  background-color: #b4eaff;
  color: #fff;
}



/*-----------------------[-Library Page Stylings ]----------------------*/
section.section_library{
  padding: 1em;
}
#library_title{
  color: #ff8d8d;
}
.library_body{
  display: flex;
}
.library_sidepanel{
  display: flex;
  width: 15rem;
  height: auto;
  flex-direction: column;
  margin: 1em;
}
.library_mainpanel{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 1em;
}
/* Sidepanel stuff */
#menu_library_register{
  box-shadow: 0 0 0 0.1vw #61ff85;
  background: inherit;
  color: #61ff85;
}
#menu_library_register:hover {
  background-color: #61ff85;
  color: #fff;
}
#menu_library_update{
  box-shadow: 0 0 0 0.1vw #ffdc8d;
  background: inherit;
  color: #ffdc8d;
}
#menu_library_update:hover {
  background-color: #ffdc8d;
  color: #fff;
}
/* Mainpanel stuff */
.library_series_entry{
  position: relative;
  color: #ff8d8d;
  box-shadow: 0 0 0 0.1em #ff8d8d;
  margin: 0.5em 0;
  padding: 1em 2em;
  border-radius: 0.4em;

  /* Make it unselectable */
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.library_series_entry:hover{
  color: #fff;
  background: #ff8d8d;
}
.library_series_entry:hover .entry_abbr{
  color: #ff8d8d;
  background: #fff;
}
.library_series_entry:hover .entry_updated{
  color: #8dff98;
  background: #fff;
}
.entry_minibanner{
  position: absolute;
  display: flex;
  flex-direction: column;
  right: -0.5em;
  top: 0.5em;
  width: 15%;
}
.minibanner{
  padding: 0.2em 1em;
  margin: 0.3rem 0;
  border-radius: 0.2em;
  font-variant: all-small-caps;
  font-weight: bold;
  text-align: right;
}
.entry_abbr{
  color: #fff;
  background: #ff8d8d;
  box-shadow: 0 0 0 0.1em #ff8d8d;
}
.entry_updated{
  display: none;
  color: #fff;
  background: #8dff98;
  box-shadow: 0 0 0 0.1em #8dff98;
}
.entry_title{
  width: 80%;
  line-height: 0.75em;
  font-variant: all-small-caps;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 0.3em;
  margin-bottom: 0.5em;
  padding: 0.5em 0;
  border-bottom: 1px solid;
}
.library_series_entry:hover .entry_title{
  color: #c15656;
}
.entry_details{
  line-height: 1em;
  font-size: 1em;
  font-family: monospace;
}
.entry_action_bar{
  width: fit-content;
  position: absolute;
  display: flex;
  color: #af4e4e;
  font-size: 1.5rem;
  right: 0.5rem;
  bottom: 0.5rem;
}
.entry_action_bar > *:hover{
  color: #fff;
}
.entry_action_bar > *{
  margin: 0 0.5rem;
}
.entry_action_button{
  color: inherit !important;
  border: none !important;
  background: none !important;
  outline: none !important;
}
.entry_download_bar{
  position: relative;
  display: flex;
  width: fit-content;
}
.download_btn{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 0.5rem;
  padding: 1.5rem;
  color: #fff;
  background: #ff8d8d;
  text-align: center;
  font-size: 1.2rem;
  font-variant: all-small-caps;
  border-radius: 0.5rem;
  cursor: pointer;
}
.download_btn:hover{
  background: #fff !important;
  color: #d26969;
}
.library_series_entry:hover .download_btn{
  background: #d26969;
}
.download_specific_input{
  border: none;
  outline: none;
  color: #d26969;
}
.library_series_entry:hover .download_specific_input{
  outline: 1px solid #d26969;
}
#opt_keep_dict{
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 auto;
}
pre#unbootstrap{
  color: inherit;
}


/*----------------------[ Register Novel Modal stylings ]----------------------*/
.register_modal_cust{
  border: 1px solid #40cc60;
  border-left: 0.5rem solid #40cc60;
}
.register_novel_header{
  color: #40cc60;
}

/*----------------------[ Edit Novel Modal stylings ]----------------------*/
.edit_modal_cust{
  border: 1px solid #cc406b;
  border-left: 0.5rem solid #cc406b;
}
.edit_novel_header{
  color: #cc406b;
}

/*----------------------[ Remove Novel Modal stylings ]----------------------*/
.remove_modal_cust{
  border: 1px solid #9c0000;
  border-left: 0.5rem solid #9c0000;
}
.remove_novel_header{
  color: #fff;
}
.remove_warning_div{
  width: 80%;
  margin: 0 auto 3rem auto;
  padding: 1rem;
  border: 2px solid #dc3545;
  border-radius: 1rem;
  font-size: 1.4rem;
}