html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
a {
	text-decoration: none !important;
	color: inherit;
}
a:link, a:visited {
	text-decoration: none !important;
	color: inherit;
}
a:hover, a:focus, a:active {
	text-decoration: none !important;
	color: inherit;
}
section {
	position: relative;
	width: fit-content;
	min-width: 75rem;
	height: auto;
	margin: 5em auto 10em auto;
	background: #fff;
	color: #555;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2rem;
	text-align: justify;
	&.section_index {
		padding: 1em;
	}
	&.section_library {
		padding: 1em;
	}
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}
input[type=number] {
	-moz-appearance: textfield;
}
::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}
.no_decoration {
	text-decoration: none !important;
	color: inherit;
}
.banner {
	display: flex;
	font-size: 1.2em;
	box-sizing: border-box;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}
.banner_title {
	margin: 0.2em 0.1em;
	padding: 0.4em 0.2em;
	font-variant: petite-caps;
	font-size: 2em;
}
.banner_ico {
	width: fit-content;
	height: fit-content;
	padding: 0.5em 0.5em;
	margin: 0.2em 0 0.2em 0.2em;
	color: #fff;
	background: #ef6565;
	border-radius: 0.1em;
	font-size: 2em;
}
.back_button {
	position: absolute;
	right: 0;
	top: 0;
	width: fit-content;
	padding: 0.5rem 1rem;
	box-shadow: 0 0 0 0.1rem #828282;
	border-radius: 0.4rem;
	font-variant: all-petite-caps;
	font-weight: bold;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	&:hover {
		background: #828282;
		color: #fff;
	}
}
.menu_button {
	width: 100%;
	height: 100%;
	padding: 0.75em 0;
	box-sizing: border-box;
	box-shadow: 0 0 0 0.5rem #000;
	border-radius: 0.5rem;
	text-align: center;
	text-decoration: none !important;
	border: none !important;
	outline: none !important;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}
.menu_button_big {
	font-size: 8rem;
}
.menu_button_wide {
	font-size: 4rem;
}
.menu_button_small {
	font-size: 4rem;
}
.btn-cust {
	font-variant: all-small-caps;
}
.modal-cust {
	border-radius: 1rem;
	overflow: hidden;
}
.modal_header_cust {
	margin-bottom: 0;
	font-variant: all-small-caps;
	font-size: 2rem;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}
.modal_body_cust {
	padding: 3rem 2rem;
}
.form_group_cust {
	display: flex;
}
.label_cust {
	font-variant: all-small-caps;
	white-space: nowrap;
}
.input_cust {
	margin: 0 1rem;
	&::placeholder {
		opacity: 0.5;
	}
}
.form_input_div {
	width: -webkit-fill-available;
	padding: 0 1rem;
}
.invalid_feedback_cust {
	font-size: 90%;
	pre {
		display: contents;
		font-size: 87.5%;
		color: inherit;
	}
}
.spinner_cust {
	display: none;
}
.flash_msg_div {
	font-size: 1rem;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}
.flash_msg_success {
	color: #009e00;
	background: #b4ff9e;
	border-color: #009e00;
}
.flash_msg_warning {
	color: #9e8f00;
	background: #fff994;
	border-color: #9e8f00;
}
.flash_msg_danger {
	color: #9e0000;
	background: #ff988b;
	border-color: #9e0000;
}
.progress_bar_display {
	position: fixed;
	z-index: 1;
	display: none;
	left: 50%;
	bottom: 1rem;
	margin-left: -25rem;
	width: 50rem;
	background: #fff0d9;
	padding: 1.5rem 4rem;
	border: 2px solid #fbbc3f;
	border-radius: 1rem;
	box-sizing: border-box;
}
.progress_bar_label {
	width: fit-content;
	font-size: 1.3rem;
	font-variant: all-petite-caps;
	color: #c1891a;
	margin: auto;
}
.progress_bar_container {
	width: -webkit-fill-available;
	height: fit-content;
	margin: auto;
}
.customtrans_logo_div {
	height: 20vh;
	margin-bottom: 5vh;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}
.customtrans_logo {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.menu_div {
	display: flex;
	height: fit-content;
	width: 70rem;
	padding: 0.4vw;
	margin: 2.5vh auto;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}
.button_icon {
	font-size: 1em;
	color: inherit;
	box-sizing: border-box;
}
.button_title {
	width: 100%;
	font-size: 0.3em;
	font-variant: all-petite-caps;
	font-weight: bold;
	color: inherit;
	box-sizing: border-box;
}
#menu_library {
	box-shadow: 0 0 0 0.2rem #ef6565;
	color: #ef6565;
	&:hover {
		background-color: #ef6565;
		color: #fff;
	}
}
#menu_dictionaries {
	box-shadow: 0 0 0 0.2rem #efa05d;
	color: #efa05d;
	&:hover {
		background-color: #efa05d;
		color: #fff;
	}
}
#menu_tutorial {
	box-shadow: 0 0 0 0.2rem #aaff77;
	color: #aaff77;
	&:hover {
		background-color: #aaff77;
		color: #fff;
	}
}
#menu_settings {
	box-shadow: 0 0 0 0.2rem #97ecff;
	color: #97ecff;
	&:hover {
		background-color: #97ecff;
		color: #fff;
	}
}
#library_title {
	color: #ef6565;
}
.library_body {
	display: flex;
}
.library_sidepanel {
	display: flex;
	width: 15rem;
	height: auto;
	flex-direction: column;
	margin: 1em;
}
.library_mainpanel {
	display: flex;
	flex-direction: column-reverse;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	padding: 1em;
}
#menu_library_register {
	box-shadow: 0 0 0 0.2rem #61ff85;
	background: inherit;
	color: #61ff85;
	&:hover {
		background-color: #61ff85;
		color: #fff;
	}
}
#menu_library_update {
	box-shadow: 0 0 0 0.2rem #ffdc8d;
	background: inherit;
	color: #ffdc8d;
	&:hover {
		background-color: #ffdc8d;
		color: #fff;
	}
}
.library_series_entry {
	position: relative;
	color: #9c2929;
	box-shadow: 0 0 0 0.1em #ef6565;
	margin: 0.5em 0;
	padding: 1em 2em;
	border-radius: 0.4em;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	&:hover {
		color: #fff;
		background: #dc6060;
		.entry_abbr {
			color: #dc6060;
			background: #fff;
		}
		.entry_updated {
			color: #8cd630;
			background: #fff;
		}
		.entry_title {
		}
		.download_btn {
			background: #c73939;
		}
	}
}
.entry_minibanner {
	position: absolute;
	display: flex;
	flex-direction: column;
	right: -0.5em;
	top: 0.5em;
	width: 20%;
}
.minibanner {
	padding: 0.2em 1em;
	margin: 0.3rem 0;
	border-radius: 0.2em;
	font-variant: all-small-caps;
	font-weight: bold;
	text-align: right;
}
.entry_abbr {
	color: #fff;
	background: #ef6565;
	box-shadow: 0 0 0 0.1em #ef6565;
}
.entry_updated {
	display: none;
	color: #fff;
	background: #8dff98;
	box-shadow: 0 0 0 0.1em #8dff98;
}
.entry_title {
	width: 80%;
	line-height: 0.75em;
	font-variant: all-small-caps;
	font-weight: bold;
	font-size: 1.5em;
	margin-top: 0.3em;
	margin-bottom: 0.5em;
	padding: 0.5em 0;
	border-bottom: 1px solid;
}
.entry_details {
	line-height: 1em;
	font-size: 1em;
	font-family: monospace;
}
.entry_action_bar {
	width: fit-content;
	position: absolute;
	display: flex;
	color: #9c2929;
	font-size: 1.5rem;
	right: 0.5rem;
	bottom: 0.5rem;
	& > *:hover {
		color: #fff;
	}
	& > * {
		margin: 0 0.5rem;
	}
}
.entry_action_button {
	color: inherit !important;
	border: none !important;
	background: none !important;
	outline: none !important;
}
.entry_download_bar {
	position: relative;
	display: flex;
	width: fit-content;
}
.download_btn {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0 0.5rem;
	padding: 1.5rem;
	color: #fff;
	background: #ef6565;
	text-align: center;
	font-size: 1.2rem;
	font-variant: all-small-caps;
	border-radius: 0.5rem;
	cursor: pointer;
	&:hover {
		background: #fff !important;
		color: #c73939;
	}
}
#opt_keep_dict {
	width: 1.5rem;
	height: 1.5rem;
	margin: 0 auto;
}
pre#unbootstrap {
	color: inherit;
}
.register_novel_modal_cust {
	border: 1px solid #40cc60;
	border-left: 0.5rem solid #40cc60;
}
.register_novel_header {
	color: #40cc60;
}
#register_novel_spinner {
	color: #40cc60 !important;
}
.edit_modal_cust {
	border: 1px solid #cc406b;
	border-left: 0.5rem solid #cc406b;
}
.edit_novel_header {
	color: #cc406b;
}
#edit_novel_spinner {
	color: #cc406b !important;
}
.remove_modal_cust {
	border: 1px solid #9c0000;
	border-left: 0.5rem solid #9c0000;
}
.remove_novel_header {
	color: #fff;
}
#remove_novel_spinner {
	color: #9c0000 !important;
}
.remove_warning_div {
	width: 80%;
	margin: 0 auto 3rem auto;
	padding: 1rem;
	border: 2px solid #dc3545;
	border-radius: 1rem;
	font-size: 1.4rem;
}
.section_toc {
	padding: 10rem 3rem;
	width: 75rem;
}
.toc_header {
	padding: 0 4rem;
	margin-bottom: 3rem;
}
.toc_series_title_div {
	font-variant: all-petite-caps;
	font-size: 4rem;
	text-align: center;
	line-height: 3.5rem;
	color: #dc6060;
}
.toc_body {
	padding: 2rem;
	margin-top: 3rem;
}
.toc_chapter {
	position: relative;
	margin: 1.5rem 1rem;
	padding: 0.1rem 0;
	font-size: 1.7rem;
	font-variant: all-petite-caps;
	&:hover {
		border-bottom: 1px solid #828282;
		& > .toc_chapter_bookmark {
			display: block;
		}
	}
}
.toc_chapter_text {
	width: fit-content;
	cursor: pointer;
	&:hover {
		filter: brightness(2);
	}
}
.toc_chapter_bookmark {
	position: absolute;
	display: none;
	cursor: pointer;
	color: #828282;
	right: 0;
	top: 0;
	&:hover {
		color: #ffc946;
		filter: brightness(1.1);
	}
}
.toc_chapter_bookmark_btn {
	border: none;
	color: inherit;
}
.viewed_chapter {
	color: #b71717;
}
.current_chapter {
	color: #63d800;
}
.bookmarked_chapter {
	border-bottom: 1px solid #ffc946 !important;
}
.active_bookmark {
	display: block;
	color: #ffc946 !important;
}
.toc_menu_listing {
	overflow: auto;
	display: flex;
	flex-direction: column;
}
.toc_menu_btn {
	margin: auto 0.5rem;
	font-variant: all-petite-caps;
	font-size: 1.2rem;
	ion-icon {
		margin: 0 0.2rem -0.2rem 0.2rem;
	}
}
#rmv_all_bkmk_btn {
	float: right;
}
#jump_to_curr_btn {
	float: left;
}
#update_series_btn {
	float: left;
}
#series_dictionary_btn {
	float: left;
	color: #fb8200;
	border-color: #fb8200;
	&:hover {
		color: #fff;
		background-color: #fb8200;
		border-color: #fb8200;
	}
}
.no_chapters_img_div {
	margin: 10rem auto 2rem auto;
	width: fit-content;
}
.no_chapters_img {
	border-radius: 4rem;
	width: 25rem;
}
.no_chapters_text_div {
	width: fit-content;
	margin: auto;
	color: #656565;
	font-size: 3rem;
	font-variant: all-petite-caps;
	font-family: monospace;
}
.section_chapter {
	padding: 10rem 3rem;
	width: 75rem;
}
