/*---------------------------[ General Stylings ]-----------------------*/
html{
  scroll-behavior: smooth;
  background: var(--html_background_color);

  /* Color definitions */
  --html_background_color: #fff;
  --back_btn_color: #292929;
  --white_contrast_font_color: #828282;

  /* Main page palette */
  --library_color_primary: #d83939;
  --dictionary_color_primary: #f58e38;
  --tutorial_color_primary: #aaff77;
  --settings_color_primary: #97ecff;

  /* Library palette */
  --update_library_button_color: #ffc545;
  --register_novel_button_color: #68d629;
  --register_novel_modal_color: #40cc60;
  --remove_novel_modal_color_primary: #9c0000;
  --remove_novel_modal_color_secondary: #dc3545;
  --edit_novel_modal_color: #cc406b;

  --series_entry_btn_color: #9e1111;
  --series_entry_hover_color: #d83939;
  --series_entry_text_color: #940d0d;
  --series_updated_tag_color: #8cd630;

  /* TOC palette */
  --toc_viewed_chapter_highlight: #b71717;
  --toc_current_chapter_highlight: #63d800;
  --toc_dictionary_btn_color: #fb8200;
  --toc_bookmarked_highlight: #ffc946;

  /* Chapter palette */
  --chapter_maintxt_color: #828282;
  --chapter_subtxt_color: #adadad;
  --chapter_day_night_toggle_btn_color: #572a80;
  --chapter_scroll_bar_color: #181818;
  --chapter_word_color: #007eff;

  /* Dictionary palette */
  --dictionary_dlall_button_color: #09437b;
  --dictionary_honorifics_button_color: #d20091;
  --dictionary_entry_color_primary: #ff8f2c;
}
html[data-theme='dark']{
  --html_background_color: #181818;
  --chapter_maintxt_color: #d0d0d0;
  --chapter_subtxt_color: #505050;
  --chapter_day_night_toggle_btn_color: #bea140;
  --chapter_scroll_bar_color: #ffffff;
  --chapter_word_color: #ffd000;
}
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 300ms !important;
  transition-delay: 0 !important;
}

body{
  margin:0;
  padding:0;
  font-family:sans-serif;
  background: unset;
}
a{
  text-decoration: none !important;
  color: inherit;
}
a:link, a:visited{
  text-decoration: none !important;
  color: inherit;
}
a:hover, a:focus, a:active{
  text-decoration: none !important;
  color: inherit;
}
section{
  position: relative;
  width: fit-content;
  min-width: 75rem;
  height: auto;
  margin: 5em auto 10em auto;
  color: #555;
  box-sizing: border-box;

  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  text-align: justify;
}
/* Make some ugly webkit components disappear */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.mono{
  font-family: Lucida Console, Courier, monospace;
}
.no_decoration{
  text-decoration: none !important;
  color: inherit;
}

.banner{
  display: flex;
  font-size: 1.2em;
  box-sizing: border-box;

  /* Make it unselectable */
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.banner_title{
  margin: 0.2em 0.1em;
  padding: 0.4em 0.2em;
  font-variant: petite-caps;
  font-size: 2em;
}
.banner_icon{
  width: fit-content;
  height: fit-content;
  padding: 0.5em 0.5em;
  margin: 0.2em 0 0.2em 0.2em;
  color: #fff;
  border-radius: 0.1em;
  font-size: 2em;
}
.back_button{
  position: absolute;
  right: 0;
  top: 0;
  width: fit-content;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 0 0.1rem var(--back_btn_color);
  border-radius: 0.2rem;
  font-size: 0.9rem;
  font-variant: all-petite-caps;
  font-weight: bold;
  cursor: pointer;

  /* Make it unselectable */
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.back_button:hover{
  background: var(--back_btn_color);
  color: #fff;
}
.menu_button{
  width: 100%;
  height: 100%;
  padding: 0.75em 0;
  box-sizing: border-box;
  box-shadow: 0 0 0 0.5rem #000;
  border-radius: 0.5rem;
  text-align: center;
  text-decoration: none !important;
  border: none !important;
  outline: none !important;
  cursor: pointer;

  /* Make it unselectable */
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.menu_button_big{
  font-size: 8rem;
}
.menu_button_wide{
  font-size: 4rem;
}
.menu_button_small{
  font-size: 4rem;
}
.btn-cust{
  font-variant: all-small-caps;
}
.modal-cust{
  border-radius: 1rem;
  overflow: hidden;
}
.modal_header_cust{
  margin-bottom: 0;
  font-variant: all-small-caps;
  font-size: 2rem;

  /* Make it unselectable */
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.modal_body_cust{
  padding: 3rem 2rem;
}
.form_group_cust{
  display: flex;
}
.label_cust{
  font-variant: all-small-caps;
  white-space: nowrap;
}
.input_cust{
  margin: 0 1rem;
}
.input_cust::placeholder{
  opacity: 0.5;
}
.form_input_div{
  width: -webkit-fill-available;
  padding: 0 1rem;
}
.invalid_feedback_cust{
  font-size: 90%;
}
.invalid_feedback_cust pre{
  display: contents;
  font-size: 87.5%;
  color: inherit;
}
.flash_msg_div{
  font-size: 1rem;

  /* Make it unselectable */
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.superpanel{
  margin: 3rem 0 1rem 0;
}
.flashpanel{
  display: flex;
  flex-direction: column-reverse;
}
.mainpanel{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

/*--------------------------[ Main Page Stylings ]----------------------*/
section.section_index{
  padding: 1em;
}

/* Stylings for the site logo */
.customtrans_logo_div{
  height: 20vh;
  margin-bottom: 5vh;

  /* Make it unselectable */
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.customtrans_logo{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Main Page menu button stylings */
.menu_div{
  display: flex;
  height: fit-content;
  width: 70rem;
  padding: 0.4vw;
  margin: 2.5vh auto;

  /* Make it unselectable */
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.button_icon{
  font-size: 1em;
  color: inherit;
  box-sizing: border-box;
}
.button_title{
  width: 100%;
  font-size: 0.3em;
  font-variant: all-petite-caps;
  font-weight: bold;
  color: inherit;
  box-sizing: border-box;
}
#menu_library{
  box-shadow: 0 0 0 0.2rem var(--library_color_primary);
  color: var(--library_color_primary);
}
#menu_library:hover {
  background-color: var(--library_color_primary);
  color: #fff;
}
#menu_dictionaries{
  box-shadow: 0 0 0 0.2rem var(--dictionary_color_primary);
  color: var(--dictionary_color_primary);
}
#menu_dictionaries:hover {
  background-color: var(--dictionary_color_primary);
  color: #fff;
}
#menu_tutorial{
  box-shadow: 0 0 0 0.2rem var(--tutorial_color_primary);
  color: var(--tutorial_color_primary);
}
#menu_tutorial:hover {
  background-color: var(--tutorial_color_primary);
  color: #fff;
}
#menu_settings{
  box-shadow: 0 0 0 0.2rem var(--settings_color_primary);
  color: var(--settings_color_primary);
}
#menu_settings:hover {
  background-color: var(--settings_color_primary);
  color: #fff;
}



/*-----------------------[-Library Page Stylings ]----------------------*/
section.section_library{
  padding: 1em;
}
#library_icon{
  background: var(--library_color_primary);
}
#library_title{
  color: var(--library_color_primary);
}
/* Library superpanel stuff */
#menu_library_register_btn{
  margin-left: 0;
  color: var(--register_novel_button_color);
  border-color: var(--register_novel_button_color);
}
#menu_library_register_btn:hover{
  color: #fff;
  background-color: var(--register_novel_button_color);
  border-color: var(--register_novel_button_color);
}
#menu_library_update_btn{
  color: var(--update_library_button_color);
  border-color: var(--update_library_button_color);
}
#menu_library_update_btn:hover{
  color: #fff;
  background-color: var(--update_library_button_color);
  border-color: var(--update_library_button_color);
}
/* Progress bar stuff */
.library_update_progress_bar_display{
  position: fixed;
  z-index: 1;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  box-sizing: border-box;

  /* Make it unselectable */
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.library_update_progress_bar_label{
  display: flex;
  width: fit-content;
  font-size: 1.3rem;
  font-variant: all-petite-caps;
  color: #c1891a;
  margin: 1.5rem auto;
}
#library_update_spinner{
  width: 1.3rem;
  height: 1.3rem;
  margin: 0.2rem 0.75rem;
  border: .2rem solid currentColor;
  border-right-color: transparent;
}
.library_update_progress_bar_info{
  margin: 0 0.5rem;
}
#update_info_series{
  margin: 1rem;
  padding: 0.2rem 5rem;
  box-sizing: border-box;
  font-variant: petite-caps;
  font-weight: bolder;
  border: 1px solid currentColor;
}
.library_update_progress_bar_container{
  width: -webkit-fill-available;
  height: fit-content;
  margin: auto;
}
/* Mainpanel stuff */
.library_series_entry{
  position: relative;
  color: var(--series_entry_text_color);
  box-shadow: 0 0 0 0.07rem var(--library_color_primary);
  margin: 0.5em 0;
  padding: 1em 2em;
}
.library_series_entry:hover{
  color: #fff;
  background: var(--series_entry_hover_color);
}
.library_series_entry:hover .entry_abbr{
  color: var(--series_entry_hover_color);
  background: #fff;
}
.library_series_entry:hover .entry_updated{
  color: var(--series_updated_tag_color);
  background: #fff;
}
.entry_minibanner{
  position: absolute;
  display: flex;
  flex-direction: column;
  right: -0.5em;
  top: 0.5em;
  width: 20%;
}
.minibanner{
  padding: 0.2em 1em;
  margin: 0.3rem 0;
  border-radius: 0.2em;
  font-variant: all-small-caps;
  font-weight: bold;
  text-align: right;
}
.entry_abbr{
  color: #fff;
  background: var(--library_color_primary);
  box-shadow: 0 0 0 0.1em var(--library_color_primary);
}
.entry_updated{
  display: none;
  color: #fff;
  background: var(--series_updated_tag_color);
  box-shadow: 0 0 0 0.1em var(--series_updated_tag_color);
}
.entry_title{
  width: 80%;
  line-height: 0.75em;
  text-align: left;
  font-variant: all-small-caps;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 0.3em;
  margin-bottom: 0.5em;
  padding: 0.5em 0;
  border-bottom: 1px solid;
}
.entry_details{
  line-height: 1em;
  font-size: 1em;
  font-family: monospace;
}
.entry_action_bar{
  width: fit-content;
  position: absolute;
  display: flex;
  color: var(--series_entry_text_color);
  font-size: 1.5rem;
  right: 0.5rem;
  bottom: 0.5rem;
}
.entry_action_bar > *:hover{
  color: #fff;
}
.entry_action_bar > *{
  margin: 0 0.5rem;
}
.entry_action_button{
  color: inherit !important;
  border: none !important;
  background: none !important;
  outline: none !important;
}
.entry_download_bar{
  position: relative;
  display: flex;
  width: fit-content;
}
.series_entry_btn{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 0.5rem;
  padding: 1.5rem;
  color: #fff !important;
  background: var(--library_color_primary);
  text-align: center;
  font-size: 1.2rem;
  font-variant: all-small-caps;
  border-radius: 0.5rem;
  cursor: pointer;

  /* Make it unselectable */
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.series_entry_btn:hover{
  background: #fff !important;
  color: var(--series_entry_btn_color) !important;
}
.library_series_entry:hover .series_entry_btn{
  background: var(--series_entry_btn_color);
}
#opt_keep_dict{
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 auto;
}
pre#unbootstrap{
  color: inherit;
}


/*----------------------[ Register Novel Modal stylings ]----------------------*/
.register_novel_modal_cust{
  border: 1px solid var(--register_novel_modal_color);
  border-left: 0.5rem solid var(--register_novel_modal_color);
}
.register_novel_header{
  color: var(--register_novel_modal_color);
}
#register_novel_spinner{
  color: var(--register_novel_modal_color) !important;
}

/*----------------------[ Edit Novel Modal stylings ]----------------------*/
.edit_modal_cust{
  border: 1px solid var(--edit_novel_modal_color);
  border-left: 0.5rem solid var(--edit_novel_modal_color);
}
.edit_novel_header{
  color: var(--edit_novel_modal_color);
}
#edit_novel_spinner{
  color: var(--edit_novel_modal_color) !important;
}

/*----------------------[ Remove Novel Modal stylings ]----------------------*/
.remove_modal_cust{
  border: 1px solid var(--remove_novel_modal_color_primary);
  border-left: 0.5rem solid var(--remove_novel_modal_color_primary);
}
.remove_novel_header{
  color: #fff;
}
#remove_novel_spinner{
  color: var(--remove_novel_modal_color_primary) !important;
}
.remove_warning_div{
  width: 80%;
  margin: 0 auto 3rem auto;
  padding: 1rem;
  border: 2px solid var(--remove_novel_modal_color_secondary);
  border-radius: 1rem;
  font-size: 1.4rem;
}

/*---------------------[ Table of Contents Stylings ]-----------------------*/
.section_toc{
  padding: 10rem 3rem;
  width: 75rem;
}

.toc_header{
  padding: 0 4rem;
  margin-bottom: 3rem;
}
.toc_series_title_div{
  font-variant: petite-caps;
  font-size: 3rem;
  text-align: center;
  line-height: 3.5rem;
  color: #dc6060;
}

.toc_body{
  padding: 2rem;
  margin-top: 3rem;
}
.toc_chapter{
  position: relative;
  margin: 1.5rem 1rem;
  padding: 0.1rem 0;
  font-size: 1.7rem;
  font-variant: all-petite-caps;
}
.toc_chapter:hover{
  border-bottom: 1px solid var(--white_contrast_font_color);
}
.toc_chapter_text{
  width: fit-content;
  cursor: pointer;
}
.toc_chapter_text:hover{
  filter: brightness(2);
}
.toc_chapter_actionbar{
  position: absolute;
  display: none;
  right: 0;
  top: 0;
}
.toc_chapter_setcurrent:hover{
  color: var(--toc_current_chapter_highlight);
  filter: brightness(1.1);
}
.toc_chapter_bookmark:hover {
  color: var(--toc_bookmarked_highlight);
  filter: brightness(1.1);
}
.toc_chapter_bookmark_btn {
  border: none;
  color: inherit;
}
.bookmarked_chapter{
  border-bottom: 1px solid var(--toc_bookmarked_highlight) !important;
}
.active_actionbar{
  display: flex;
}
.toc_chapter_actionbar > * {
  margin: 0 0.5rem;
  cursor: pointer;
  color: var(--white_contrast_font_color);
}
.active_bookmark{
  color: var(--toc_bookmarked_highlight) !important;
}
.toc_chapter:hover > .toc_chapter_actionbar{
  display: flex;
}
.viewed_chapter{
  color: var(--toc_viewed_chapter_highlight);
}
.current_chapter{
  color: var(--toc_current_chapter_highlight);
}
.toc_menu_listing{
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.toc_menu_options{
  width: 100%;
  margin: 1rem 0;
  padding: 1rem 0;
  border-bottom: 1px solid #d2d2d2;
}
.superpanel_menu_btn{
  margin: auto 0.2rem;
  font-variant: all-petite-caps;
  font-size: 1.2rem;
  box-shadow: none !important;
}
.superpanel_menu_btn ion-icon{
  margin: 0 0.2rem -0.2rem 0.2rem;
}
#rmv_all_bkmk_btn{
  float: right;
}
#jump_to_curr_btn{
  float: left;
}
#update_series_btn{
  float: left;
  color: var(--update_library_button_color);
  border-color: var(--update_library_button_color);
}
#update_series_btn:hover{
  color: #fff;
  background-color: var(--update_library_button_color);
  border-color: var(--update_library_button_color);
}
#series_dictionary_btn{
  float: left;
  color: var(--toc_dictionary_btn_color);
  border-color: var(--toc_dictionary_btn_color);
}
#series_dictionary_btn:hover{
  color: #fff;
  background-color: var(--toc_dictionary_btn_color);
  border-color: var(--toc_dictionary_btn_color);
}
.no_chapters_img_div{
  margin: 10rem auto 2rem auto;
  width: fit-content;
}
.no_chapters_img{
  border-radius: 4rem;
  width: 25rem;
}
.no_chapters_text_div{
  width: fit-content;
  margin: auto;
  color: var(--white_contrast_font_color);
  font-size: 3rem;
  font-variant: all-petite-caps;
  font-family: monospace;
}


/*---------------------[ Chapter Stylings ]-----------------------*/
.section_chapter{
  padding: 10rem 3rem;
  width: 120rem;
  max-width: 120rem;
}
.chapter_toolbelt{
  width: 50%;
  min-width: 30rem;
  height: 4rem;
  margin: 3rem auto;
}
#chapter_toolbelt_south{
  margin-top: 5rem;
}
.content_title_div{
  border-top: 1px solid #9a9a9a;
}
.chapter_series_title_div{
  width: fit-content;
  margin: auto;
  color: var(--chapter_maintxt_color);
  padding: 0.5rem 2rem;
  text-align: center;
  font-size: 3rem;
  font-variant: small-caps;
  line-height: 3.5rem;
}
.chapter_chapter_div{
  width: fit-content;
  margin: auto;
  font-size: 1.5rem;
  font-variant: all-petite-caps;
  font-weight: bold;
  color: var(--chapter_maintxt_color);
}
.dummy{
  /* Make it invisible */
  color: rgba(0, 0, 0, 0);
  font-size: 0.001rem;
  margin: 0;
  /* Make it unselectable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.content_section{
  border-bottom: 1px solid #9a9a9a;
  padding: 2rem 0;
}
.content_line_div{
  width: 100%;
  margin: 4rem 0;
}
.content_line{
  width: fit-content;
  font-size: 1.5rem;
  margin: 0.5rem 0;
  color: var(--chapter_maintxt_color);
}
.content_raw{
  width: fit-content;
  font-size: 1rem;
  color: var(--chapter_subtxt_color);
}
.chapter_image_div{
  width: 100%;
}
.chapter_day_night_toggle_btn{
  color: #fff;
  background-color: var(--chapter_day_night_toggle_btn_color);
  border-color: var(--chapter_day_night_toggle_btn_color);
  box-shadow: none !important;
}
.chapter_day_night_toggle_btn:hover{
  filter: brightness(1.2);
}
.word{
  font-variant: petite-caps;
  font-weight: bolder;
  color: var(--chapter_word_color) !important;
  transition: 0.2s;
}

/* Chapter popover customizations */
.word_popover_cust{
  font-family: 'Montserrat', sans-serif;
  max-width: 25rem;
}
.word_popover_header_cust{
}
.word_popover_body_cust{
}

/* Side progress indicator */
.chapter_sidebar{
  position: fixed;
  left: 10rem;
  top: 30vh;
  width: 3rem;
  height: 40vh;
}
.chapter_scroll_indicator{
  position: absolute;
  width: 100%;
  height: 100%;
}
.chapter_scroll_bar{
  position: absolute;
  top: 0;
  right: 50%;
  width: 1px;
  height: 0%;
  background: var(--chapter_scroll_bar_color);
  box-shadow: 0 0 3px 0.1px var(--chapter_scroll_bar_color);

  /* Make this unselectable */
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.chapter_scroll_bar#bar{
  display: none;
}
.chapter_scroll_bar#bg{
  height: 100% !important;
  background: rgba(127, 127, 127, 0.4);
  box-shadow: none;
}
.chapter_scroll_notch{
  position: absolute;
  top: 19vh;
  width: 100%;
  color: var(--chapter_maintxt_color);
  background: var(--html_background_color);
  text-align: center;
  line-height: 2rem;
  font-family: 'Courier', sans-serif;
  font-size: 1rem;
  border: 1px solid var(--chapter_maintxt_color);

  /* Make this unselectable */
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}


/* Dictionary page stylings */
.section_dictionary{
  padding: 1em;
}
#dictionary_icon{
  background: var(--dictionary_color_primary);
}
#dictionary_title{
  color: var(--dictionary_color_primary);
}
.dict_header{
  width: fit-content;
  padding: 0.5rem 3rem;
  margin: 0.5rem;
  color: #fff;
  background: var(--dictionary_color_primary);
  font-variant: all-small-caps;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 0.5rem;
}
#menu_dictionary_dlall_btn{
  margin-left: 0;
  color: var(--dictionary_dlall_button_color);
  border-color: var(--dictionary_dlall_button_color);
}
#menu_dictionary_dlall_btn:hover{
  color: #fff;
  background-color: var(--dictionary_dlall_button_color);
  border-color: var(--dictionary_dlall_button_color);
}
#menu_dictionary_honorifics_btn{
  color: var(--dictionary_honorifics_button_color);
  border-color: var(--dictionary_honorifics_button_color);
}
#menu_dictionary_honorifics_btn:hover{
  color: #fff;
  background-color: var(--dictionary_honorifics_button_color);
  border-color: var(--dictionary_honorifics_button_color);

}
#dict_Common{
  filter: hue-rotate(125deg);
  margin: 2rem 0;
}
#dict_Common:hover{
  filter: hue-rotate(125deg) brightness(1.1);
}
.dictionary_entry_disabled{
  filter: grayscale(1) !important;
}
.dictionary_entry{
  position: relative;
  display: flex;
  background: #ff8f2c40;
  border-right: none;
  margin: 0.75rem 0;
  box-sizing: border-box;
  height: 4rem;
}
.dictionary_entry:hover{
  filter: brightness(1.2);
}
.dictionary_entry_abbr{
  width: 20rem;
  color: #fff;
  font-weight: bolder;
  font-size: 1.5rem;
  font-family: monospace;
  border-bottom: 4rem solid var(--dictionary_entry_color_primary);
  border-right: 1.5rem solid transparent;
}
.dictionary_entry_abbr_text{
  padding: 0.5rem 2rem;
  height: 4rem;
  line-height: 3rem;
}
.dictionary_entry_body{
  display: flex;
  width: -webkit-fill-available;
  padding-left: 1rem;
}
.dictionary_entry_filename{
  width: -webkit-fill-available;
  margin: auto 0;
  color: #d88400;
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
}
.dictionary_entry_action_bar{
  width: fit-content;
  display: flex;
  color: var(--series_entry_text_color);
  font-size: 1.5rem;
}
.dictionary_entry_action_bar > *:hover{
  filter: brightness(1.1);
}
.dictionary_entry_action_div{
  width: 4rem;
  text-align: center;
  margin: 0 1px;
  background: #ffad64;
  color: #fff;
  cursor: pointer;
}
.dictionary_entry_action_div ion-icon{
  height: 100%;
  font-size: 1.3rem;
}
.action_toggle_enable{
  width: 6rem;
  background: #ff8f2c;
}