{% macro edit_honorific_modal(form) %}
<div class="modal fade" id="edit_honorific_modal_push" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg modal-notify modal-info" role="document">
    <!-- Modal Form Content-->
    <form class="modal-content text-center modal_cust edit_honorific_modal_cust" id="edit_honorific_form" action="{{ url_for('honorifics_edit_entry', hon_id=0) }}">
      <!--Modal Header-->
      <div class="modal-header modal_header_cust deep-purple darken-3 d-flex justify-content-center" id="edit_honorific_header">
        <p style="margin: 0.5rem 0"> Edit Honorific </p>
      </div>

      <!--Modal Body-->
      <div class="modal-body modal_body_cust">
          {{ form.hidden_tag() }}
          <fieldset class="form-group" style="margin: 0">
            {{ form.hon_id }}
            <div class="form-group form_group_cust">
              {{ form.lang.label(class="form-control-label label_cust") }}
              <div class="form_input_div md-form">
                {{ form.lang(class="form-control input_cust") }}
              </div>
            </div>
            <div class="form-group form_group_cust">
              <div class="form_input_div md-form">
                {{ form.hraw(class="form-control input_cust", placeholder=form.hraw.label.text) }}
              </div>
              &rarr;
              <div class="form_input_div md-form">
                {{ form.htrans(class="form-control input_cust", placeholder=form.htrans.label.text) }}
              </div>
            </div>
            <div class="form-group form_group_cust mb-0">
              <div class="honorific_modal_options_div">
                <div class="honorifics_form_help" id="affix_help">
                  <ion-icon name="help-circle-outline" data-toggle="tooltip" title="Should the translated honorific go before or after the subject?"></ion-icon>
                </div>
                {{ form.affix.label(class="form-control-label label_cust") }}
              </div>
              <div class="form_input_div">
                <div style="display: flex; height: 1rem;">
                  {% for subfield in form.affix %}
                  <div class="form_radio_div">
                    {{ subfield }}
                    {{ subfield.label }}
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="form-group form_group_cust mb-0">
              <div class="honorific_modal_options_div">
                <div class="honorifics_form_help" id="affix_help">
                  <ion-icon name="help-circle-outline" data-toggle="tooltip" title="Seperate subject and suffixed honorific with a dash '-'"></ion-icon>
                </div>
                {{ form.opt_with_dash.label(class="form-control-label label_cust") }}
              </div>
              <div class="form_input_div form_checkbox_div md-form">
                {{ form.opt_with_dash(class="form-control input_cust") }}
              </div>
            </div>
            <div class="form-group form_group_cust mb-0">
              <div class="honorific_modal_options_div">
                <div class="honorifics_form_help" id="affix_help">
                  <ion-icon name="help-circle-outline" data-toggle="tooltip" title="Can this honorific be found without being attached to a subject (e.g. oniisan is standalone)"></ion-icon>
                </div>
                {{ form.opt_standalone.label(class="form-control-label label_cust") }}
              </div>
              <div class="form_input_div form_checkbox_div md-form">
                {{ form.opt_standalone(class="form-control input_cust") }}
              </div>
            </div>
          </fieldset>
      </div>

      <!--Modal Footer-->
      <div class="modal-footer flex">
        <div class="spinner-border text-success mx-3 spinner_cust" role="status" id="edit_honorific_spinner">
          <span class="sr-only"></span>
        </div>
        {{ form.submit(class="btn btn-success btn_cust", id="edit_honorific_submit_btn") }}
        <button class="btn btn-outline-danger btn_cust modal_cancel_btn" data-dismiss="modal"> Cancel </button>
      </div>

    </form>
  </div>
</div>
{% endmacro %}