{% macro register_novel_modal(form) %}
<div class="modal fade" id="register_modal_push" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true" route="{{ url_for('library') }}">
  <div class="modal-dialog modal-dialog-centered modal-lg modal-notify modal-info" role="document">
    <!-- Modal Form Content-->
    <form class="modal-content text-center modal-cust register_modal_cust" id="register_novel_form" action="{{ url_for('library_register_novel') }}">
      <!--Modal Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="modal_header_cust register_novel_header"> Register a Novel </p>
      </div>

      <!--Modal Body-->
      <div class="modal-body modal_body_cust">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
            <div class="form-group form_group_cust">
              {{ form.title.label(class="form-control-label label_cust") }}
              <div class="form_input_div">
                {{ form.title(class="form-control input_cust") }}
              </div>
            </div>
            <div class="form-group form_group_cust">
              {{ form.abbr.label(class="form-control-label label_cust") }}
              <div class="form_input_div">
                {{ form.abbr(class="form-control input_cust") }}
              </div>
            </div>
            <div class="form-group form_group_cust">
              {{ form.series_code.label(class="form-control-label label_cust") }}
              <div class="form_input_div">
                {{ form.series_code(class="form-control input_cust", placeholder="http://ncode.syosetu.com/XXXXXXX") }}
              </div>
            </div>
          </fieldset>
      </div>

      <!--Modal Footer-->
      <div class="modal-footer flex-center">
        {{ form.submit(class="btn btn-success btn-cust", id="register_novel_submit_btn") }}
        <button class="btn btn-outline-danger btn-cust" data-dismiss="modal"> Cancel </button>
      </div>

    </form>
  </div>
</div>
{% endmacro %}