{% from "misc/super_navpanel.html" import super_navpanel %}
{% from "general_layout.html" import define_metavar%}
{% from "misc/flash_alert.html" import flash_alert %}


{% extends 'general_layout.html' %}
{% block html_theme %}{{default_theme if default_theme is defined}}{% endblock %}
{% block hdr_theme %}#262829{% endblock %}
{% block html_lang %}{{lang_code}}{% endblock %}
{%- block metavars -%}
	{{ define_metavar('ch', ch) }}
	{{ define_metavar('latest_ch', series.latest_ch) }}
	{% if chapter_data is defined %}
		{% for definition in chapter_data.dictionary %}
			{% set id = loop.index %}
			{% set translation = definition.trans %}
			{% set comment = definition.comment %}
			{{ define_metavar_dict(id, translation, comment) }}
		{% endfor%}
	{% endif %}
{%- endblock -%}

{% block content %}
<section class="section_chapter">
	<!-- Navigation bar -->
	{% if back_href is defined %}
		{{super_navpanel(back_href)}}
	{% endif%}

	<!-- The chapter title and number -->
	<div class="section_body">
		<!-- The container that displays current chapter over latest chapter -->
		<div class="series_progress">
			<sup>{{ch}}</sup>&frasl;<sub>{{series.latest_ch}}</sub>
		</div>

		{% set bookmark_url = url_for('library_series_toc_bookmark', series_code=series.code, ch=ch) %}
		<div class="chapter_bookmark_btn {{'chapter_bookmark_btn_active' if bookmarked}}" action="{{bookmark_url}}" title="Toggle bookmark">
			<ion-icon name="bookmark"></ion-icon>
		</div>

		<!-- Chapter title and chapter number location -->
		<div class="header_div">
			<div class="chapter_series_title_div">
				<a class="no_decoration" href="{{series_url}}" target="_blank">{{series.title}}</a>
			</div>
			<div style="width: 60%; margin: auto;">
				<hr style="border-top: 1px solid var(--chapter_maintxt_color)">
			</div>
			<div class="chapter_chapter_div">
				<a class="no_decoration" href="{{chapter_url}}" target="_blank">Chapter {{ch}}</a>
			</div>
		</div>

		<!-- Top toolbelt -->
		<div class="chapter_toolbelt" id="chapter_toolbelt_north">
			{{ render_toolbelt() }}
		</div>

		<!-- Flashpanel -->
		<div class="flashpanel" id="chapter_flashpanel">
			<!-- Flashed messages -->
			{% with messages = get_flashed_messages(with_categories=true) %}
				{{ flash_alert(messages) }}
			{% endwith %}
		</div>

		<div class="content">
			{% if chapter_data is defined %}
				<p class="dummy" id="d0">{{dummy_text}}</p>
				<!-- Chapter title -->
				<div class="content_title_div content_section">
					{{ line_entry(chapter_data.title) }}
				</div>
				<!-- Chapter prescript -->
				{% if chapter_data.prescript|length > 0 %}
					<div class="content_prescript content_section">
					{% for data in chapter_data.prescript %}
						{{ line_entry(data) }}
					{% endfor %}
					</div>
				{% endif %}
				<!-- Chapter main content -->
				{% if chapter_data.main|length > 0 %}
					<div class="content_main content_section">
					{% for data in chapter_data.main %}
						{{ line_entry(data) }}
					{% endfor %}
					</div>
				{% endif %}
				<!-- Chapter postscript -->
				{% if chapter_data.postscript|length > 0 %}
					<div class="content_afterword content_section">
					{% for data in chapter_data.postscript %}
						{{ line_entry(data) }}
					{% endfor %}
					</div>
				{% endif %}
			{% endif %}
		</div>

		<!-- Bottom toolbelt -->
		<div class="chapter_toolbelt" id="chapter_toolbelt_south">
			{{ render_toolbelt() }}
		</div>
	</div>

	<!-- Fade outs on smaller screens-->
	<div class="fade_div"> </div>
</section>

<!-- Scroll indicator -->
<div class="chapter_sidebar">
	<div class="chapter_scroll_indicator">
		<div class="chapter_scroll_bar" id="bar"></div>
		<div class="chapter_scroll_bar" id="bg"></div>
		<div class="chapter_scroll_notch notranslate">0%</div>
	</div>
</div>

{% endblock %}

{% block script_area %}
	$(document).ready(function() {
		setupChapter();

		// Mark this chapter as the current chapter if it's greater than what it currently is
		if({{ch}} > {{series.current_ch}}){
			var url = "{{url_for('library_series_toc_setcurrent', series_code=series.code, ch=ch)}}";
			$.post(url, function(data) {
				if(data.status != 'ok') {
					var msg = `An unexpected error occurred while trying to set this as the current chapter`;
					createFlashMessage(msg, "warning", "#chapter_flashpanel");
				}
			});
		}
	});
{% endblock%}

<!-- Creates a line entry in the content section of the chapter html -->
{% macro line_entry(data) %}
	<div class="chapter_content">
	{% if data.type == "text" %}
		<div class="content_line_div">
			<p class="content_line" id="l{{data.line_id}}">
				{{data.text|safe}}
			</p>
			<p class="content_raw notranslate" id="r{{data.line_id}}">
				<a href="{{data.gt_link}}" class="no_decoration" target="_blank">
					{{data.subtext}}
				</a>
			</p>
		</div>
		<p class="dummy" id="d{{data.line_id}}">{{dummy_text}}</p>
	{% elif data.type == "image" %}
		<div class="chapter_image_div">
			<img class="chapter_image" src="{{data.img_src}}" id="i{{data.img_id}}">
		</div>
	{% endif %}
	</div>
{% endmacro %}

<!-- Macro to render the toolbelt -->
{% macro render_toolbelt() %}
	<div class="btn-group" role="group" aria-label="Basic example" style="width: 100%; height: 100%;">
		{% set series_toc_url = url_for('library_series_toc', series_code=series.code) %}
		{% set series_dict_url = url_for('dictionaries_edit', dict_fname=dict_fname) %}
		<a role="button" class="btn btn-dark chapter_toolbelt_btn chapter_prev_btn" id="prev_btn" title="Previous Chapter" {{'disabled' if ch == 1}}>
			<ion-icon name="return-up-back-outline"></ion-icon>
		</a>
		<a role="button" class="btn chapter_toolbelt_btn chapter_dict_btn" id="ch_dict_btn" title="Chapter Dictionary" href="{{series_dict_url}}">
			<ion-icon name="reader-outline"></ion-icon>
		</a>
		<a role="button" class="btn special-color-dark chapter_toolbelt_btn chapter_toc_btn" id="toc_btn" title="Table of Contents"
			href="{{series_toc_url}}">
			<ion-icon name="library-outline"></ion-icon>
		</a>
		<button type="button" class="btn chapter_toolbelt_btn chapter_day_night_toggle_btn" id="day_night_toggle_btn" title="Day/Night Mode"
			style="color: #fff">
			<ion-icon name="moon-outline"></ion-icon>
		</button>
		<a role="button" class="btn btn-dark chapter_toolbelt_btn chapter_next_btn" id="next_btn" title="Next Chapter" {{'disabled' if ch == series.latest_ch}}>
			<ion-icon name="return-up-forward-outline"></ion-icon>
		</a>
	</div>
{% endmacro %}

{% macro define_metavar_dict(id, trans, comment) %}
	<meta id="mdata_definition_{{id}}" data-translation="{{trans}}" data-comment="{{comment}}">
{% endmacro %}