{% from "dictionary_entry.html" import dictionary_entry %}
{% from "flash_alert.html" import flash_alert %}

{% extends 'general_layout.html' %}
{% block content %}
	<section class="section_dictionary">
		<!-- Back button -->
		{% if back_href is defined %}
			<div class="back_button" onclick="location.href='{{back_href}}'"> Back </div>
		{% endif%}

		<!-- Main content -->
		<div class="banner" id="dictionary_banner">
			<div class="banner_icon" id="dictionary_icon">
				<ion-icon name="book"></ion-icon>
			</div>
			<div class="banner_title" id="dictionary_title">Dictionary</div>
		</div>
		<div class="dictionary_body">
			<div class="superpanel" id="dictionary_superpanel">
				<button type="button" class="btn btn-mdb-color superpanel_menu_btn" id="menu_dictionary_dlall_btn"
					action="{{url_for('dictionaries_download_all')}}">
					<ion-icon name="download-outline"></ion-icon>
					<span> Download All </span>
				</button>
				<button type="button" class="btn btn-unique superpanel_menu_btn" id="menu_dictionary_honorifics_btn">
					<ion-icon name="earth"></ion-icon>
					<span> Honorifics </span>
				</button>
				<button type="button" class="btn btn-deep-orange superpanel_menu_btn" id="menu_dictionary_toggleall_btn">
					<ion-icon name="toggle"></ion-icon>
					<span> Toggle All </span>
				</button>
			</div>
			<div class="flashpanel notranslate" id="dictionary_flashpanel">
				<!-- Flashed messages -->
				{% with messages = get_flashed_messages(with_categories=true) %}
					{{ flash_alert(messages) }}
				{% endwith %}
			</div>
			<div class="mainpanel" id="dictionary_mainpanel">
				<!-- Novel entries -->
				{% for dictionary in dictionaries %}
					{{ dictionary_entry(dictionary) }}
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}

{% block script_area %}
	$(document).ready(function() {
		setupDictionary();
	});
{% endblock%}