{% from "misc/super_navpanel.html" import super_navpanel %}
{% from "misc/flash_alert.html" import flash_alert %}
{% from "modals/discard_dict_changes.html" import discard_dict_changes %}

{% extends 'general_layout.html' %}
{% block content %}
	<section class="section_dictionary_edit">
		<!-- Navigation bar -->
		{% if back_href is defined %}
			{{super_navpanel(back_href)}}
		{% endif%}

		<!-- Set up the Discard Changes modal -->
		{{ discard_dict_changes() }}

		<!-- Main content -->
		<div class="section_body">
			<div class="banner" id="dictionary_edit_banner">
				<div class="banner_icon" id="dictionary_edit_icon">
					<ion-icon name="create"></ion-icon>
				</div>
				<div class="banner_title" id="dictionary_edit_title">Edit Dictionary</div>
			</div>

			<div class="dictionary_edit_body">
				<div class="flashpanel" id="dictionary_edit_flashpanel">
					<!-- Flashed messages -->
					{% with messages = get_flashed_messages(with_categories=true) %}
						{{ flash_alert(messages) }}
					{% endwith %}
				</div>

				<div class="mainpanel" id="dictionary_edit_mainpanel">
					<div class="dictionary_edit_toolbelt w-100">
						<div class="dictionary_edit_btn_div">
							<!-- Register button -->
							<button type="button" class="btn btn-dark-green dictionary_edit_toolbelt_btn" title="Save changes"
								id="menu_dictionary_edit_save_btn" action="{{url_for('dictionaries_edit_save', dict_fname=dict_fname)}}">
								<ion-icon name="checkmark-outline"></ion-icon>
								<span> Save </span>
							</button>
							<button type="button" class="btn btn-danger dictionary_edit_toolbelt_btn" title="Discard changes"
								id="menu_dictionary_edit_discard_btn" data-toggle="modal" data-target="#dict_discard_changes_modal">
								<ion-icon name="close-outline"></ion-icon>
								<span> Discard </span>
							</button>
							<button type="button" class="btn dictionary_edit_toolbelt_btn" title="Day/Night mode"
								id="menu_dictionary_edit_day_night_toggle_btn" >
								<ion-icon name="moon-outline"></ion-icon>
							</button>
							<button type="button" class="btn btn-elegant dictionary_edit_toolbelt_btn" title="Toggle fullscreen"
								id="menu_dictionary_edit_fullscreen_btn" >
								<ion-icon name="scan-outline"></ion-icon>
							</button>
						</div>
					</div>
					<div class="dictionary_edit_utilbelt">
						<div class="dictionary_edit_utility_btn" id="util_new_line" title="Insert New Line">
							new line
						</div>
						<div class="dictionary_edit_utility_btn" id="util_new_def" title="Insert Definition">
							definition
						</div>
						<div class="dictionary_edit_utility_btn" id="util_new_name" title="Insert Name Tag">
							name tag
						</div>
						<div class="dictionary_edit_utility_btn" id="util_insrt_name_div" title="Insert Name Divider">
							name div
						</div>
						<div class="dictionary_edit_utility_btn" id="util_insrt_comm_div" title="Insert Comment Divider">
							comment div
						</div>
						<div class="dictionary_edit_utility_btn" id="util_del_line" title="Delete Line">
							del line
						</div>
					</div>
					<textarea id="dictionary_editor" style="display: none;">{{dict_content}}</textarea>
				</div>
			</div>

			<div class="toastpanel" id="dictionary_edit_toastpanel">
				<!-- Toast messages go here -->
			</div>
		</div>
	</section>
{% endblock %}

{% block script_area %}
	$(document).ready(function() {
		setupDictionaryEdit();
	});
{% endblock%}