<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, user-scalable=no">

  	{% if title %}
		<title>{{ title }}</title>
	{% else %}
		<title>WN CustomTrans</title>
	{% endif %}

	<!-- Typeface, Favicon, Stylesheet links -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">
  	<!--link rel="shortcut icon" href="https://rawcdn.githack.com/tahmidk/Downtrans/d87d65a051b42f49409bbb58ba5ace52f8303fc4/resources/images/pigpanda_icon.ico"-->
</head>
<body>
	{% block content %}
	{% endblock content %}

	<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
</body>
</html>