{% extends 'general_layout.html' %}
{% block hdr_theme %}#575c69{% endblock %}
{% block content %}
	<section class="section_index">
		<div class="customtrans_logo_div">
			<img class="customtrans_logo" src="{{url_for('static', filename='customtrans_logo.png')}}"/>
		</div>
		<div class="menu_div">
			<div style="padding: 1rem; ">
				<div class="menu_button menu_button_big" id="menu_library" onclick="location.href='{{url_for('library')}}';">
					<div class="button_icon">
						<ion-icon name="book"></ion-icon>
					</div>
					<div class="button_title"> Library </div>
				</div>
			</div>
			<div style="display: flex; flex-direction: column; ">
				<div style="padding: 1rem;">
					<div class="menu_button menu_button_wide" id="menu_dictionaries" onclick="location.href='{{url_for('dictionaries')}}';">
						<div class="button_icon">
							<ion-icon name="reader"></ion-icon>
						</div>
						<div class="button_title"> Dictionaries </div>
					</div>
				</div>
				<div style="display: flex;">
					<div style="padding: 1rem; ">
						<div class="menu_button menu_button_small" id="menu_honorifics" onclick="location.href='{{url_for('honorifics')}}';">
							<div class="button_icon">
								<ion-icon name="earth"></ion-icon>
							</div>
							<div class="button_title"> Honorifics </div>
						</div>
					</div>
					<div style="padding: 1rem; ">
						<div class="menu_button menu_button_small" id="menu_settings" onclick="location.href='{{url_for('settings')}}';">
							<div class="button_icon">
								<ion-icon name="settings"></ion-icon>
							</div>
							<div class="button_title"> Settings </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block script_area %}
	$(document).ready(function() {

	});
{% endblock%}