{% extends 'general_layout.html' %}
{% block content %}
	<section class="section_toc">
		<!-- Back button -->
		{% if back_href is defined %}
			<div class="back_button" onclick="location.href='{{back_href}}'">
				Back
			</div>
		{% endif%}

		<!-- Main content -->
		<div class="toc_header">
			<div class="toc_series_title_div" onclick="window.open('{{series_host_url}}');">
				<span style="cursor: pointer;"> {{series.title}} </span>
			</div>
		</div>
		<div style="width: 60%; margin: auto;">
			<hr style="border-top: 1px solid #000">
		</div>
		<div class="toc_body">
			{% for index in range(series.latest_ch) %}
				{% set ch = index + 1 %}
				{% set series_base_url = url_for('library_series_chapter', series_code=series.code, ch=ch)  %}
				{% set bookmark_url = url_for('library_series_toc_bookmark', series_code=series.code, ch=ch)  %}
				{% set visited = ch < series.current_ch %}
				{% set bookmarked = ch in series.bookmarks %}
				<div class="toc_chapter {{'viewed_chapter' if visited}} {{'bookmarked_chapter' if bookmarked}}" id="{{ch}}">
					<div class="toc_chapter_text" onclick="window.open('{{series_base_url}}')">
						Chapter {{ch}}
					</div>
					<div class="toc_chapter_bookmark {{'active_bookmark' if bookmarked}}" action="{{bookmark_url}}" id="bookmark_form_{{ch}}">
						<ion-icon name="bookmark{{'-outline' if not bookmarked}}"></ion-icon>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
{% endblock %}

{% block script_area %}
	$(document).ready(function() {
		setupTableOfContents();
	});
{% endblock%}