{% macro series_entry(novel) %}
	{% set next_ch = novel.current_ch + 1 %}
	<div class="library_series_entry" id="series_{{novel.abbr}}">
		<div class="entry_minibanner">
			<div class="minibanner entry_abbr"> {{novel.abbr}} </div>
			<div class="minibanner entry_updated"> Updated </div>
		</div>
		<div class="entry_title"> {{novel.title}} </div>
		<div class="entry_details">
			<div class="entry_current">
				<pre id="unbootstrap">Current: {{novel.current_ch}}</pre>
			</div>
			<div class="entry_latest">
				<pre id="unbootstrap"> Latest: {{novel.latest_ch}}</pre>
			</div>
		</div>
		<div class="entry_action_bar">
			<!-- This div is for convenience in js and is not meant to be displayed-->
			<div class="entry_info" style="display: none;">
				<span class="info_title"> {{novel.title}} </span>
				<span class="info_abbr"> {{novel.abbr}} </span>
				<span class="info_current"> {{novel.current_ch}} </span>
				<span class="info_latest"> {{novel.latest_ch}} </span>
				<span class="info_code"> {{novel.code}} </span>
			</div>
			<div class="entry_edit">
				<button type="button" class="entry_action_button modal_trigger" data-toggle="modal" data-target="#edit_modal_push" title="Edit Series" id="edit_{{novel.abbr}}">
					<ion-icon name="create"></ion-icon>
				</button>
			</div>
			<div class="entry_trash">
				<button type="button" class="entry_action_button modal_trigger" data-toggle="modal" data-target="#remove_modal_push" title="Remove Series" id="rmv_{{novel.abbr}}">
					<ion-icon name="trash"></ion-icon>
				</button>
			</div>
		</div>
		<div class="entry_download_bar">
			<div class="series_entry_btn table_of_contents" onclick="location.href='{{'/library/' ~ novel.code}}'">
				<span> Table of Contents </span>
				<ion-icon style="font-size: 1.5rem; margin: 0 auto;" name="library-outline"></ion-icon>
			</div>
			<div class="series_entry_btn download_next" onclick="location.href='{{'/library/' ~ novel.code ~ '/' ~ next_ch}}'">
				<span> Read Next </span>
				<ion-icon style="font-size: 1.5rem; margin: 0 auto;" name="arrow-redo"></ion-icon>
			</div>
		</div>
	</div>
{% endmacro %}