{% macro super_navpanel(back_href) %}
	<div class="super_navpanel">
		<a role="button" class="btn btn-sm super_navpanel_btn" id="super_navpanel_home_btn"
			href="{{url_for('index')}}">
			<ion-icon name="home"></ion-icon>
		</a>
		<a role="button" class="btn btn-sm super_navpanel_btn" id="super_navpanel_library_btn"
			href="{{url_for('library')}}">
			<ion-icon name="book"></ion-icon>
		</a>
		<a role="button" class="btn btn-sm super_navpanel_btn" id="super_navpanel_dictionary_btn"
			href="{{url_for('dictionaries')}}">
			<ion-icon name="reader"></ion-icon>
		</a>
		<a role="button" class="btn btn-elegant btn-sm super_navpanel_btn" id="super_navpanel_back_btn"
			href="{{back_href}}">
			<span> Back </span>
		</a>
	</div>
{% endmacro %}